.container {
  border-radius: 8px;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;

  display: flex;
  padding: 18px 17px;
  gap: 17px;
}

.productImg {
  border-radius: 25px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.selectionOrderContainer {
  display: flex;
  gap: 50px;
}

.showMoreContainer {
  border-radius: 8px;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;

  display: flex;
  padding: 18px 17px;
  align-items: center;
}
