.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 16px;
}

.closeIconContainer {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
}

.modalBody {
  padding: 40px;
}

.modalActions {
  padding: 30px;
  border-top: solid 1px #cbcbcb;
}
