.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 16px;
}

.closeIconContainer {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
}
