.container {
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.filterContainer {
  display: flex;
  gap: 18px;
  align-items: center;
}
