.subContainer {
  display: flex;
  border-bottom: solid 1px #efefef;
  padding: 20px 37px;
  align-items: center;
}

.subContainer > * {
  min-width: 336px;
}

.buttonContainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.teamMember {
  display: flex;
  padding: 8px 37px;
  align-items: center;
  background-color: #f7f6ff;
}

.teamMember > * {
  min-width: 336px;
}

.addMember {
  padding: 16px 37px 24px 37px;
  background-color: #f7f6ff;

}
